@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

#business-card {
  width: 350px;
  height: 200px;
  text-align: center;
  font-family: 'Chivo',  sans-serif;
  color: rgb(167, 167, 174);
  transition: color 1.2s;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  #business-card {
    margin: 32vh auto;
  }
}
