@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');


#business-card {
  width: 350px;
  height: 200px;
  text-align: center;
  font-family: 'Tenor Sans';
  color: rgb(114, 111, 138);
  transition: color 1.2s;
  margin: auto;
}

#business-card:hover {
  color: rgb(31, 34, 73);
}

@media only screen and (max-width: 768px) {
  #business-card {
    margin: 32vh auto;
  }
}